.about-container{
    height:100%;
    background-color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: radial-gradient( #758196 1px ,transparent 1px);
    background-size: 20px 20px ;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.scrool-container{
    color: white;
}

@media (width <= 500px) {
   .head p{
        font-size: 0.5rem;
    }
}


