.hero-page{
    margin: 0;
    display: flex;
    background-color: black;    
    flex-direction: row;
    height: 90vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.image-container{
    display: flex;
    flex: 1;
    justify-content: center;
    transition: opacity 1s ease-in;
}
.tag-container{
    flex: 1;
    overflow: hidden;
}
.tagging{
        flex: 1;
        color: white;
        transition: transform 1s ease-in-out;
        /* padding: '2rem'; 
          whiteSpace:nowrap */   
}

h1,p{
    margin-bottom: 20px;

}
h1{
    font-weight:bold ;
    font-size: 40px;
}
p{
    font-size: 20px;
    
}



