.tech-container {
    display: flex;
    flex-direction: column;
    background-color: black;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    height: 100vh;
    max-height: 100%;
}

.head h1 {
    color: white;
    margin-bottom: 20px;
}

.tech {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    width: 50%;
    max-width: 1200px;
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: 1px solid rgb(243, 100, 100);
    transition: transform 0.3s ease;
}

.tech-item img {
    width: 100%;
    height: 100%;
    max-width: 150px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
}

.tech-item img:hover {
    transform: scale(1.12);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(244, 246, 222, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 20px;
    z-index: 10;
    max-width: 80%;
    text-align: center;
  }
  
  .popup img {
    max-width: 100%;
    height: 200px;
    border-radius: 10px;
  }
  
  .popup p {
    font-size: 16px;
    margin-top: 10px;
    color: #333;
  }
  
  .popup button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #132543;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
  }
  
  .popup button:hover {
    background-color: #037055;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
  }

@media (max-width: 768px) {
    .tech {
        width: 90%;
    }

    .popup {
        width: 95%;
        padding: 20px;
    }
}
@media ( width <=400px) {
    .tech-container{
      /* margin-top: 100px; */
      height: auto;
      padding-top: 50px;
      padding-bottom: 100px;
    }
  }

